<div class="contenedor-pred">
  <div class="pred-filtros">
    <select>
      <option selected disabled>Seleccionar Cuenca</option>
      <option>Cuenca del Mantaro</option>
      <option>Cuenca del Rímac</option>
      <option>Cuenca del Chillón</option>
    </select>

    <select>
      <option selected disabled>Seleccionar Río</option>
      <option>Río Shullcas</option>
      <option>Río Mantaro</option>
      <option>Río Cunas</option>
    </select>

    <input type="text" placeholder="Buscar Estación..." />
  </div>

  <h2>Mapa de Predicciones de Calidad del Agua</h2>

  <div class="pred-layout">
    <div class="pred-mapa">
      <img src="Mapa.png" alt="Mapa de Predicciones">
    </div>

    <div class="pred-panel">
      <h3>Historial de Predicciones</h3>
      <div class="pred-botones">
        <button>Predicción #1</button>
        <button>Predicción #2</button>
        <button>Predicción #3</button>
      </div>

      <div class="pred-resultado buena">
        Calidad Pronosticada Buena
      </div>

      <div class="pred-detalle">
        <h4>Detalle de Predicción</h4>
        <p><strong>Parámetros Clave</strong></p>
        <ul>
          <li>Bajos niveles de Turbidez</li>
          <li>pH estable 6.8</li>
          <li>Ausencia de coliformes</li>
        </ul>
      </div>
    </div>
  </div>
</div>
