/* === DASHBOARD INICIO === */
.dashboard-inicio {
  text-align: center;
  padding: 40px 20px;
  animation: fadeIn 0.8s ease-in-out;
}

.dashboard-inicio h2 {
  color: #1f526b;
  font-size: 28px;
  margin-bottom: 10px;
}

.dashboard-inicio p {
  color: #555;
  margin-bottom: 35px;
  font-size: 16px;
}