
.contenedor-ingesta {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease-in-out;
}


.contenedor-ingesta h2 {
  color: #1f526b;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.tabla-container {
  overflow-x: auto;
}

#tablaSensores {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

#tablaSensores th {
  background: #1f526b;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#tablaSensores td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

#tablaSensores tr:hover {
  background: #f0f8ff;
}

